<p>signalhijo1 works!</p>
<div>{{this.nombre_input() }}</div>
<br>
<div>{{this.dataUsuario_input()?.codiPer}}</div>
<div>{{this.dataUsuario_input()?.codiUsu}}</div>
<div>{{this.dataUsuario_input()?.dniPer}}</div>
<p> valor requerido = {{inputRequerido()}}</p>
<p> usuario computed: {{usuariocomputed()}}</p> 
<!-- error verificar 
<p> input ActivoModel: {{inputActivoModel}}</p>  
-->
<br><p>total Lista</p>
<div>{{datuarios_input().length}}</div>

<br>
<button class="" (click)="modificarPadre()">enviar al padre e hijo2</button>